* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.password-box {
    display: flex;
    margin-bottom: 20px;
}

#password {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#copyBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
}

#copyBtn:hover {
    background-color: #45a049;
}

.settings {
    margin-bottom: 20px;
}

.settings label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.settings .range-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#generateBtn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#generateBtn:hover {
    background-color: #0056b3;
}
